server:
  port: 8082

security:
  jwt:
    secret: ${SECURITY_JWT_SECRET}
    issuer: ias
    access-token-ttl-seconds: 900
spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/iam
    username: iam
    password: iam
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false
  flyway:
    enabled: true
    locations: classpath:db/migration

management:
  endpoints:
    web:
      exposure:
        include: health,info,mappings,flyway
  endpoint:
    flyway:
      enabled: true
