server:
  port: 8082

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
  flyway:
    enabled: true
    locations: classpath:db/migration
    validate-on-migrate: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,mappings,flyway
  endpoint:
    flyway:
      enabled: true
security:
  jwt:
    secret: ${SECURITY_JWT_SECRET}


management:
  endpoints:
    web:
      exposure:
        include: health,info,mappings,flyway
  endpoint:
    flyway:
      enabled: true
