server:
  port: 8082

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/ias
    username: ias
    password: ias
  jpa:
    hibernate:
      ddl-auto: none
  flyway:
    enabled: true
    locations: classpath:db/migration

